/* Webfont: RodinPro-B */@font-face {
    font-family: 'FOT-RodinProB';
    src: url('RodinPro-B.eot'); /* IE9 Compat Modes */
    src: url('RodinPro-B.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('RodinPro-B.woff') format('woff'), /* Modern Browsers */
         url('RodinPro-B.ttf') format('truetype'), /* Safari, Android, iOS */
         url('RodinPro-B.svg#RodinPro-B') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

